# Lambda function in python

In Python, a lambda function (also called an anonymous function) is a small, anonymous function that can be defined in a single line of code without a name. It is useful when we need a simple function that we don't want to define explicitly using the def keyword. The basic syntax for a lambda function in Python is:

lambda arguments: expression
Here, arguments refer to the input arguments for the function and expression is a single expression that gets evaluated and returned as the result of the function. The result of the expression is automatically returned by the lambda function, so there's no need to use the return statement.

In [1]:
f=lambda x,y:x+y
f

In [2]:
f(6,7)

13

In [3]:
# Simple examples
multiply = lambda x,y:x*y
multiply(5,9)

45

In [4]:
# Return the length of screen
string_length = lambda s:len(s)
string_length("VishalParmar")

12

In [8]:
# convert a list of integers to their corresponding square values:
numbers = [1,2,3,4,5,6]
squares = list(map(lambda x:x**2, numbers))
print(squares)

[1, 4, 9, 16, 25, 36]

In [12]:
# Filter out even numbers from a list

numbers = [1,2,3,4,5,6]
list(filter(lambda x : x%2 == 0, numbers))

[2, 4, 6]

In [13]:
f=lambda x:x%2==0
f(3)

False

In [14]:
# sort a list of strings based on their alphabetical characters and length:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']

In [16]:
sorted(fruits, key= lambda x:len(x))

['date', 'apple', 'banana', 'cherry', 'elderberry']

In [17]:
# Complex Examples
# Sorting a list of dictionaries based on specific key

In [18]:
people = [
    {"name":"Alice", "age":25, "occupation":'Engineer'},
    {"name":"Bob", "age":30, "occupation":'Manager'},
    {"name":"Vishal", "age":26, "occupation":'Intern'},
    {"name":"Dave", "age":27, "occupation":'Designer'}, 
]

In [20]:
# sorted(people, key=lambda x:x['age'])
sorted(people, key=lambda x:(x['age'],x['name']))

[{'name': 'Alice', 'age': 25, 'occupation': 'Engineer'},
 {'name': 'Vishal', 'age': 26, 'occupation': 'Intern'},
 {'name': 'Dave', 'age': 27, 'occupation': 'Designer'},
 {'name': 'Bob', 'age': 30, 'occupation': 'Manager'}]

In [21]:
# find the maximum value in dictionary
data = {'a':10, 'b':20, 'c':5, 'd':15}
max(data,key=lambda x:data[x])

'b'

In [22]:
# Grouping a list of strings based on their first letter

In [23]:
from itertools import groupby

words = ['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig']

groups = groupby(sorted(words), key=lambda x:x[0])

for key, group in groups:
    print(key,list(group))

a ['apple']
b ['banana']
c ['cherry']
d ['date']
e ['elderberry']
f ['fig']