# Python Pickling And Unpickling

    The pickle module implements binary protocols for serialize a Python object structure. "Pickling" is the process whereby a python object hierachy is converted into a byte stream, and "Unpickling" is the incerse operation, whereby a byte stream (from a binary file or bytes-like object) is conveted back into object hierachy. Pickling (and unpickling) is alternatively known as "serialization, "marshaling", 1 or flattening ; however to avoid confusion, the erms used here are "pickling" and "unpickling"      

    Pickle in Python is primarily used in serializing and deserializing a Python object structure. In other words, it's process of converting a python object into byte stream store it in file/database, maintain program state accross sessions, or transport data over the network

In [1]:
import seaborn as sns

In [2]:
df = sns.load_dataset('tips')

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
import pickle

In [5]:
filename = 'file.pkl'

In [7]:
# Serialize process
pickle.dump(df,open(filename, 'wb'))

In [8]:
# unserialize process
pickle.load(open(filename, 'rb'))

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
# dict example
dic_example = {"firstname":"Vishal", ";astname":"Parmar"}

In [12]:
pickle.dump(df,open("test.pkl", 'wb'))