# Python Data Classes
In Python, the dataclass decorator is a feature introduced in Python 3.7 that provides a concise way to define classes primarily intended to store data. It automatically generates several special methods, such as init, repr, and eq, based on the class attributes you define. This simplifies the process of creating and working with data-focused classes.

In [1]:
from dataclasses import dataclass

@dataclass
class Person:
    name:str
    age:int
    profession:str

The @dataclass decorator automatically generates the following for you:

_init_(): Initialize the object and assigns the provided values to the attributes.
_repr_(): Provides string representation of the object.
__eq__(): Implements equality comparison between two objects of the class based on their attributes.

In [2]:
  person1 = Person("Vishal", '26', "SDE")
person1.name

'Vishal'

In [3]:
@dataclass
class Rectangle :
    width:int
    height:int
    color:str='white'

ractangle1 = Rectangle(15,18)
ractangle2 = Rectangle(20,22,'red')

In [4]:
ractangle2.color

'red'

In [5]:
ractangle1.color

'white'

In [14]:
@dataclass(frozen=True)
class Point:
    x:int
    y:int

In [15]:
point = Point(3,4)

In [16]:
point.x

3

In [17]:
point.x=14

FrozenInstanceError: cannot assign to field 'x'

In [41]:
# inheriance

@dataclass
class Person:
    name: str
    age: int

@dataclass
class Employee(Person):
    emp_id: str
    dept: str

# @dataclass
# class Person:
#     name:str
#     age:int


# @dataclass
# class Employee(Person):
#     employee_id = str
#     department = str

In [42]:
# Now this works:
person = Person("Vishal", 26)
employee = Employee("Vishal",26, "F123", "AI")

In [43]:
print(person)
print(employee)

Person(name='Vishal', age=26)
Employee(name='Vishal', age=26, emp_id='F123', dept='AI')

In [44]:
# Nested Dataclasses

@dataclass
class Address:
    street:str
    city:str
    zipcode:str

@dataclass
class Person:
    name:str
    age:str
    address:Address

In [45]:
address = Address('4 B Gayatri Soc', 'Vijapur', '382870')
person = Person("Vishal","26",address)

person.address

Address(street='4 B Gayatri Soc', city='Vijapur', zipcode='382870')