# We cover in this part

1. StringIO -in memory file object
2. Pandas read_csv

In [2]:
# Reading different data sources with the help of pandas
from io import StringIO

In [3]:
import pandas as pd

In [18]:
data =('col1,col2,col3\n'
      'x,y,1\n'
       'a,b,2\n'
       'c,d,3'
      )

In [19]:
type(data)

str

In [20]:
# in memory file format object
StringIO(data)

In [21]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [22]:
pd.read_csv(StringIO(data), usecols=['col1', 'col2'])

  col1 col2
0    x    y
1    a    b
2    c    d

In [23]:
df = pd.read_csv('mercedesbenz.csv')
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [24]:
type(df)

pandas.core.frame.DataFrame

In [25]:
df = pd.read_csv('mercedesbenz.csv', usecols=['X0','X1','X2','X3','X4','X5'])
df.head()

   X0 X1  X2 X3 X4 X5
0   k  v  at  a  d  u
1   k  t  av  e  d  y
2  az  w   n  c  d  x
3  az  t   n  f  d  x
4  az  v   n  f  d  h

In [26]:
df.to_csv('test.csv', index=False)