# Python pandas working with XML

    1. Read XML and Dataframes
    2. Convert Dataframe to XML

    What is XML ?

        1. XML stands for eXtensible Markup Language
        2. XML is markup language much like HTML
        3. XML was designed to store and transport data.
        4. XML was designed to be self-descriptive
        5. XML is a W3C Recommendation.

In [17]:
import pandas as pd
from io import StringIO

In [18]:
pd.read_xml('test.xml')

      shape  degrees  sides
0    square      360    4.0
1    circle      360    NaN
2  triangle      180    3.0

In [19]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<data xmlns="http://example.com">
 <row>
   <shape>square</shape>
   <degrees>360</degrees>
   <sides>4.0</sides>
   <firstname>Vishal</firstname>
 </row>
 <row>
   <shape>circle</shape>
   <degrees>360</degrees>
   <sides/>
   <firstname/>
 </row>
 <row>
   <shape>triangle</shape>
   <degrees>180</degrees>
   <sides>3.0</sides>
   <firstname/>
 </row>
</data>'''

In [20]:
pd.read_xml(xml)

C:\Users\visha\AppData\Local\Temp\ipykernel_11236\2704978085.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_xml(xml)

      shape  degrees  sides firstname
0    square      360    4.0    Vishal
1    circle      360    NaN      None
2  triangle      180    3.0      None

In [25]:
import pandas as pd
from io import StringIO

xml = '''<?xml version='1.0' encoding='utf-8'?>
<doc:data xmlns:doc="http://example.com">
 <doc:row>
   <doc:shape>square</doc:shape>
   <doc:degrees>360</doc:degrees>
   <doc:sides>4.0</doc:sides>
 </doc:row>
 <doc:row>
   <doc:shape>circle</doc:shape>
   <doc:degrees>360</doc:degrees>
   <doc:sides/>
 </doc:row>
 <doc:row>
   <doc:shape>triangle</doc:shape>
   <doc:degrees>180</doc:degrees>
   <doc:sides>3.0</doc:sides>
 </doc:row>
</doc:data>'''

df = pd.read_xml(
    StringIO(xml),
    xpath=".//doc:row",                      # Correct path
    namespaces={"doc": "http://example.com"}  #  Correct namespace
)

print(df)

      shape  degrees  sides
0    square      360    4.0
1    circle      360    NaN
2  triangle      180    3.0

In [27]:
df.to_xml('test_Demo.xml')